<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <meta http-equiv="cleartype" content="on">

    {% load static from staticfiles %}
    
    <title>Camaste!</title>

    {% block header_links %}
	<link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    <link href="//vjs.zencdn.net/4.5/video-js.css" rel="stylesheet">
    {% endblock %}
</head>

<body>
    <nav id="top">
        <div class="inner">
            <div class="left">
                <a href="{% url 'home' %}">Powered by Camaste!</a>
            </div>

	       {% if user.is_authenticated %}
            <div class="right">
                <strong>{{user.username}}</strong>
                {% if user.is_admin %}
                    | <a href="{% url 'admin:index' %}">Admin</a>
                {% endif %}
                {% if user.is_model %}
                    | <a href="{% url 'performer_home' %}">Model Profile</a>
                {% endif %}
                | <a href="{% url 'account' %}">My Account</a>
                | <a href="{% url 'logout' %}">Logout</a>
            </div>
            {% else %}
            <div class="right">
                <a href="/register">Register</a>
                | <a href="/login">Login</a>
            </div>
            {% endif %}
            <div class="clear"></div>
        </div><!-- .inner -->
    </nav><!-- #top -->

    <header>
        <div class="inner">
            <h1>Derpy Cam Babes</h1>
        </div>
    </header>

    {% block content %}{% endblock content %}

    {% comment %}
    <div id="outer-body" class="outer">
        <div class="inner">
            Derp
        </div>
    </div><!-- .outer -->
    {% endcomment %}

    <footer id="bottom">
        <div class="inner" id="footer">
            <nav class="links">
                <a href="#">Got Problems?</a>
                | <a href="#">Terms &amp; Conditions</a>
                | <a href="{% url 'contact' %}">Contact</a>
            </nav>
            <div class="copyright">
                Copyright &copy; Derp Herp Merp Werp
            </div>
        </div>
    </footer><!-- #bottom -->


    {% block footer_scripts %}
    <script type="text/javascript" src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
    <script type="text/javascript" src="//cdn.sockjs.org/sockjs-0.3.min.js"></script>
    <script type="text/javascript" src="//vjs.zencdn.net/4.5/video.js"></script>
    {% endblock %}
</body>
</html>